body{
    font-family: sans-serif;
    background-color: #fcfcfc;
}
.content{
    width: 80vw;
    margin: auto;
}
img{
    max-width: 100%;
}
@media only screen and (max-width: 1000px) {
    .content{
        width: 95vw;
    }
}
main {
    padding: 2vw;
}
a{
    text-decoration: none;
    color: #8e8e8e;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    text-decoration: none;
}

.code {
    background-color: #454545;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: white;
    font-style: normal;
}
span.code {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}
pre.code{
    padding: 15px;
}


input[type="text"] {
    padding: 7px;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}

button, [type="submit"] {
    padding: 7px;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #eaeaea;
    cursor: pointer;
}
button:hover, [type="submit"]:hover{
    border: 1px solid #454545;
}
button:focus, [type="submit"]:focus{
    border: 1px solid #eaeaea;
}